<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./CSS/home.css">


</head>
<body>
    <div class="m-2">
        <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary my-2 Submit" style="text-align: center;" type="submit">
                Log Out
            </button>
        </form>
    </div>
    <!-- <style>
        .background-radial-gradient {
            background-image: linear-gradient(to bottom right, rgb(80, 100, 182), rgb(151, 76, 186));
        }
    </style> -->
    <!-- <img src="./img/logo.png" alt="" /> -->
    <div class="flex-col">
        <!-- Welcome header here -->
        <header class="welcome ">
            <div class="welcome-container px-lg-5">
                <div class="w-paragraph">
                    <div class="w-message">
                        <img src="./img/logo.png" alt="" />
                        <h1 class="">Welcome to Cambiar</h1>
                        <p class="">
                            Cambiar is a spanish name referring to CHANGE
                            <br>
                            Change is what we stand <br />
    
                            <br>
                            We are here for you <br>
                            Allow  us to bring policemen at your DOOR
                        </p>
                        <a class="about-btn" href="#">More about us here</a>
                    </div>
                </div>
            <!-- </div>
            <h3 style="color: blueviolet; text-align: center;
          font-size: x-large;">
                Click on your favourite tab below to sastify your curiousity</h3> -->
        </header>
    
        <!-- content here  -->
        <h3 style="color: rgb(29, 70, 135); text-align: center;
        font-size: x-large;">
        Click on the button below, To alert your nearby Police Station that your in DANGER </h3>
    
        <div class="clearfix"></div>
    
        <div style="padding: 6px"></div>
    </div>


    <a target="_blank" href="alert">
        <img src="./img/1.avif" alt="Paris" class="center">
        <!-- <img src="./img/1.avif" alt="alert" width="600" height="400" /> -->
    </a>
</body>

</html>

